<div class='blog-menu'>
<div class='container'>

    {% if menu_categorias %}
    <nav class='blog-menu-nav'>
        <ul>
            <li {% if categoria == null %} class='active current' {% endif %}>
                <a href='{{base_url()}}/blog'>Início</a>
            </li>
            {% for m in menu_categorias %}
                {% if categoria and categoria.id == m.id %}
                <li class='active current'>
                {% else %}
                <li class=''>
                {% endif %}
                    <a href='{{base_url()}}/blog/{{m.slug}}' title='{{m.titulo}}'>{{m.titulo}}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
</div>
</div>
