<div class='services--listmap {% if grid %}services--listmap-grid{% endif %} {{additional_class}}'>
	{% if tree and tree.childs %}
		{% for l2 in tree.childs %}
			<div class='services--listmap-item
					                            {% if l2.childs and l2.childs is not empty %} has-childs{% endif %}
					                            {% if level2 and l2.id == level2.id %} current open{% endif %}'>
				<div class='services--listmap-item-inner'>
					<a href='{{base_url()}}/{{level1.slug}}/{{l2.slug}}' class='services--listmap-itemlink'>
						<i class='icon-plus'></i>
						<span>{{l2.titulo}}</span>
					</a>
				</div>
				{% if l2.childs and l2.childs is not empty %}
					<div class='services--listmap-drop'>
						<ul class='services--listmap-subitems'>
							{% for l3 in l2.childs %}
								<li class='{% if level3 and l3.id == level3.id %} current{% endif %}'>
									<a title='{{l3.titulo}}' href='{{base_url()}}/{{level1.slug}}/{{level2.slug}}/{{l3.slug}}'>
										{{ l3.titulo }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
		{% endfor %}
	{% endif %}
</div>
