{% set pages = total_pages %}
{% set range = 2 %}
{% set initial = current_page - range %}
{% set limit = current_page + range %}

{% if pages > 1 %}
	<div class='paginator' data-initial='{{initial}}' data-limit={{limit}}>
		<ul>
			{% if current_page > 1 %}
				<li class='previous'>
					<a href='{{base_url()}}{{current_path()}}?pagina={{current_page - 1}}' title='Anterior'></a>
				</li>
			{% endif %}
			{% for page in (initial)..(limit)%}
				{% if page > 0 and page <= pages %}
					<li {% if page == current_page %} class='current' {% endif %}>
						<a title='Ir para a página {{ page }}' href='{{base_url()}}{{current_path()}}?pagina={{ page }}'>
							{{ page }}
						</a>
					</li>
				{% endif %}
			{% endfor %}
			{% if current_page < total_pages %}
				<li class='next'>
					<a href='{{base_url()}}{{current_path()}}?pagina={{ current_page + 1 }}' title='Próxima'></a>
				</li>
			{% endif %}
		</ul>
	</div>
{% endif %}
