{% if options %}
  {% set data = options %}
{% endif %}

<div class='widget widget-localizacao' title='{{data.nome}}'>
    <div class='widget--thumbnail'>
        <figure>
        {% if data.imagem %}
            <img src='{{base_url()}}/upload/{{data.imagem}}' alt='{{data.nome}}'/>
        {% else %}
          <span class='empty'>Sem imagem</span>
        {% endif %}
        </figure>
    </div>
    <div class='widget--content'>
        <header class='widget--header'>
            {% if data.nome %}
            <h4 class='widget--title'>
                {{data.nome}}
            </h4>
            {% endif %}
        </header>

        {% if data.endereco_linha_1 %}
        <div class='widget--address'>
          <p>{{ data.endereco_linha_1 }}</p>
            {% if data.endereco_linha_2 %} <p class='second-line'>{{ data.endereco_linha_2 }}</p>{% endif %}
        </div>
        {% endif %}

        {% if data.telefone %}
        <div class='widget--phone'>
            <p>{{ data.telefone }}</p>
        </div>
        {% endif %}
        <footer class='widget--footer'>
            {% if data.html_maps %}
            <button data-toggle="modal" data-target='#modal-unidade-maps-{{data.id}}' class='btn btn-link' title='Ver no mapa'>Ver no mapa</button>
            {% elseif data.link_maps %}
              <a href='{{data.link_maps}}' target='_blank' rel='nofollow' class='btn btn-link' title='Ver no mapa'>
              Ver no mapa
              </a>
            {% endif %}
            {% if data.horarios_exames %}
            <button data-toggle="modal" data-target='#modal-unidade-exames-{{data.id}}' class='btn btn-secondary' title='Horário de Exames'>Horários</button>
            {% endif %}
        </footer>
    </div>

    <div class="modal fade" id="modal-unidade-exames-{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-unidade-exames-{{data.id}}" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-unidade-exames-{{data.id}}">
                        {{data.nome}}
                    </h3>
                    <span class='modal-primary-title'>Horários</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class='horarios-box-grid'>
                        {% for h in data.horarios_exames %}
                            <div class='horarios-box-item'>
                                <h4>{{h.exame}}</h4>
                                <p>{{h.horario}}</p>
                                {% if h.observacao %}
                                    <p class='obs'><small>{{h.observacao}}</small></p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if data.html_maps %}
    <div class="modal modal-maps fade" id="modal-unidade-maps-{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-unidade-maps-{{data.id}}" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-unidade-maps-{{data.id}}">
                        {{data.nome}}
                    </h3>
                    <span class='modal-primary-title'>Google Maps</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  {{ data.html_maps|raw }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
