<div class='inner-wrapper {% if options.border_style == 'border' %}with-border{% endif %}'>
{% if options.title %}
<h2>{{options.title}}</h2>
{% endif %}
{% if options.content %}
<div class='text-inner'>
    {{options.content|raw}}
</div>

{% set css = 'btn-primary' %}
{% if options.btn_style == 'secondary' %}
    {% set css = 'btn-secondary' %}
{% elseif options.btn_style == 'primary' %}
    {% set css = 'btn-primary' %}
{% else %}
    {% set css = 'btn-outline-primary' %}
{% endif %}

{% if options.btn_url %}
    <footer class='text-footer'>

    {% set url = mount_url(options.btn_url) %}

    {% if is_absolute_url(options.btn_url) %}
      {% set url = options.btn_url %}
    {% endif %}

        <a href='{{mount_url(options.btn_url)}}' title='Ler mais sobre' {% if is_absolute_url(options.btn_url) %}target='_blank' rel='nofollow'{% endif %} class='btn {{css}}'>
            {% if options.btn_label %}
                {{ options.btn_label }}
            {% else %}
                Saiba Mais
            {% endif %}
        </a>
    </footer>
{% endif %}
{% endif %}
</div>
