<ul>
    {% if config.FACEBOOK_URL %}
    <li>
      <a href='{{ config.FACEBOOK_URL }}' rel='nofolow' target='_blank'>
        <img alt='Facebook' src='{{ base_url() }}/build/images/facebook-logo.svg' title='Facebook'/>
      </a>
    </li>
    {% endif %}
    {% if config.INSTAGRAM_URL %}
    <li>
      <a href='{{ config.INSTAGRAM_URL }}' rel='nofolow' target='_blank'>
        <img alt='instagram' src='{{ base_url() }}/build/images/instagram.svg' title='instagram'/>
      </a>
    </li>
    {% endif %}
    {% if config.TWITTER_URL %}
    <li>
      <a href='{{ config.TWITTER_URL }}' rel='nofolow' target='_blank'>
        <img alt='twitter' src='{{ base_url() }}/build/images/twitter.svg' title='twitter'/>
      </a>
    </li>
    {% if config.YOUTUBE_URL %}
    {% endif %}
    <li>
      <a href='{{ config.YOUTUBE_URL }}' rel='nofolow' target='_blank'>
        <img alt='youtube' src='{{ base_url() }}/build/images/youtube.svg' title='youtube'/>
      </a>
    </li>
    {% endif %}
</ul>
