<div class='acesso-rapido-buttons'>
	<ul>
		{% for a in acesso_rapido %}
			<li>
				{% set link = base_url() ~ a.link %}
				{% if is_absolute_url(a.link) %}
					{% set link = a.link %}
				{% endif %}
				<a title='{{a.titulo}}' {% if a.nova_aba %} rel='nofollow' target='_blank' {% endif %} href='{{link}}'>
					<div class=''>
						<div class='icon'>
							{% if a.icone %}
								<img src='{{base_url()}}/upload/{{a.icone}}' alt='{{a.titulo}}'/>
							{% endif %}
						</div>
						<div class='content'>
							<h4 title='{{a.titulo}}'>{{a.titulo}}</h4>
							<p>
								{{a.descricao}}
							</p>
						</div>
					</div>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
