<nav aria-label='Navegação no site' class='navigation'>
	<ul>
		<li class='item-menu-static'>
			<a href='{{base_url()}}/planos' title='Planos'>
				Planos
			</a>

      {#
			<div class='submenu submenu-planos'>
				<div class='submenu-inner'>
					<div class='container'>
						<div class='row'>
							<div class='col-md-8'>
								{% if menu_planos %}
									<div class='block-menu-group'>
										{% for m in menu_planos %}
											<div class='block-menu'>
												<h4>
													<a href='{{base_url()}}/planos/{{m.slug}}' title='{{ m.titulo }}'>
														{{ m.titulo }}
													</a>
												</h4>
												{% if m.planos is not empty %}
													<ul>
														{% for p in m.planos %}
															<li>
																<a href='{{base_url()}}/planos/{{m.slug}}/{{p.slug}}' title='{{p.titulo}}'>
																	{{p.titulo}}
																</a>
															</li>
														{% endfor %}
													</ul>
												{% endif %}
											</div>
										{% endfor %}
									</div>
								{% endif %}
							</div>
							<div class='col-md-4'>
								<div class='find-plan-block'>
									<h3 class='h4'>Encontre um plano ideal</h3>
									<p class='desc'>Faça uma simulaçāo escolhendo os detalhes do seu plano e já saiba as melhores vantagens e valores.</p>
									<p class='foot'>
										<a href='{{base_url()}}/#planos' class='btn btn-secondary'>Encontre o plano ideal</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
      #}
		</li>
		{% if menu_header %}
			{% for i in menu_header %}
				{% if i.id != 44 %}
					<li class='item-menu-dynamic'>
						<a href='{{base_url()}}/{{i.slug}}'>{{i.titulo}}</a>
						{% if i.childs and i.childs|length %}

							<div class='submenu'>
								<div class='submenu-inner'>
									<div class='container'>
										<div class='row align-items-center'>
											{% set with_childs = i.childs|filter(c => c.childs and c.childs|length > 0) %}
											{% set without_childs = i.childs|filter(c => not c.childs or c.childs|length == 0) %}

											{% for c in with_childs %}
												<div class='col-lg-3'>
													<div class='block-menu {% if c.childs and c.childs|length %}has-childs{% endif %}'>
														<h4>
															<a title='{{c.titulo}}' href='{{base_url()}}/{{i.slug}}/{{c.slug}}'>{{c.titulo}}</a>
														</h4>
														{% if c.childs %}
															<ul>
																{% for p in c.childs %}
																	<li>
																		<a title='{{p.titulo}}' href='{{base_url()}}/{{i.slug}}/{{c.slug}}/{{p.slug}}'>
																			{{p.titulo}}
																		</a>
																	</li>
																{% endfor %}
															</ul>
														{% endif %}
													</div>
												</div>
											{% endfor %}
											{% if without_childs and without_childs|length > 0%}
												<div class='col col-lg-{% if with_childs %}{{ 12 - with_childs|length * 3}}{% endif %}'>
													<div class='row'>
														{% for c in without_childs %}
															<div class='col-lg-4'>
                                <div class='block-menu {% if c.childs and c.childs|length %}has-childs{% endif %}'>
                                  <h4>
                                    <a title='{{c.titulo}}' href='{{base_url()}}/{{i.slug}}/{{c.slug}}'>{{c.titulo}}</a>
                                  </h4>
                                </div>
															</div>
														{% endfor %}
													</div>
												</div>
											{% endif %}

										</div>
									</div>
								</div>
							</div>
						{% endif %}
					</li>
				{% endif %}
			{% endfor %}
		{% endif %}
		<li>
			<a href='{{base_url()}}/unidades' title='Unidades'>
				Unidades
			</a>
		</li>
		<li>
			<a href='{{base_url()}}/noticias' title='Noticias'>Notícias</a>
			<!--<a target="_blank" href='https://www.unimed.coop.br/web/valedosinos/noticias1' title='Noticias'>
				Notícias
			</a>-->
		</li>

		{% for i in menu_header %}
			{% if i.id == 44 %}
				<li class='item-menu-dynamic'>
					<a href='{{base_url()}}/{{i.slug}}'>{{i.titulo}}</a>
					{% if i.childs and i.childs|length %}

						<div class='submenu'>
							<div class='submenu-inner'>
								<div class='container'>
									<div class='row align-items-center'>
										{% for c in i.childs %}
											<div class='col-lg-3 {% if i.childs|length > 5 %}col-lg-3{% endif %}'>
												<div class='block-menu {% if c.childs and c.childs|length %}has-childs{% endif %}'>
													<h4>
														<a title='{{c.titulo}}' href='{{base_url()}}/{{i.slug}}/{{c.slug}}'>{{c.titulo}}</a>
													</h4>
													{% if c.childs %}
														<ul>
															{% for p in c.childs %}
																<li>
																	<a title='{{p.titulo}}' href='{{base_url()}}/{{i.slug}}/{{c.slug}}/{{p.slug}}'>
																		{{p.titulo}}
																	</a>
																</li>
															{% endfor %}
														</ul>
													{% endif %}
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}

		<!--
				<li>
					<a href='{{base_url()}}/blog' title='Blog'>
						Blog
					</a>
				</li>-->
	</ul>
</nav>
