<div class='mobile-menu-bar'>
	<a class='search-toggle'>
		<i></i>
		<strong>Buscar</strong>
	</a>
	<a href='{{base_url()}}/encontre-um-medico' class='doctors'>
		<i></i>
		<strong>Médicos</strong>
	</a>
	<a href='{{ mount_url(config.ERP_LOGIN_URL) }}' class='login'>
		<i></i>
		<strong>Entrar</strong>
	</a>
	<a class='access'>
		<i></i>
		<strong>Acesso</strong>
	</a>
</div>

<div class='mobile-navigation'>

	<div class='main-header-float-grave'></div>
	<div class='content'>

		{% include 'layout/search-slim.twig' %}

		<div aria-label='Encontre um médico' class='localization'>
			<a href='{{base_url()}}/encontre-um-medico' title='Encontre um médico' class='find-link'>
				Encontre um médico
			</a>
		</div>
		<nav aria-label='Navegação no site' class='navigation'>
			<ul>
				<li>
					<a href='{{base_url()}}/planos' title='Planos'>
						Planos
					</a>
					{# {% if menu_planos %}
											<ul>
												{% for m in menu_planos %}
													<li>
														<a href='{{base_url()}}/planos/{{m.slug}}' title='{{ m.titulo }}'>
															{{ m.titulo }}
														</a>
													</li>
												{% endfor %}
											</ul>
										{% endif %} #}
				</li>
				{% if menu_header %}
					{% for i in menu_header %}
						<li class='item-menu-dynamic'>
							<a href='{{base_url()}}/{{i.slug}}'>{{i.titulo}}</a>
							{% if i.childs and i.childs|length %}
								{% for c in i.childs %}
									<ul class=''>
										<li>
											<a title='{{c.titulo}}' href='{{base_url()}}/{{i.slug}}/{{c.slug}}'>{{c.titulo}}</a>
										</li>
										{% if c.childs %}
											<ul>
												{% for p in c.childs %}
													<li>
														<a title='{{p.titulo}}' href='{{base_url()}}/{{i.slug}}/{{c.slug}}/{{p.slug}}'>
															{{p.titulo}}
														</a>
													</li>
												{% endfor %}
											</ul>
										{% endif %}
									</ul>
								{% endfor %}
							{% endif %}
						</li>
					{% endfor %}
				{% endif %}
				<li>
					<a href='{{base_url()}}/unidades' title='Unidades'>
						Unidades
					</a>
				</li>
				<li>
					<a href='{{base_url()}}/noticias' title='Noticias'>Notícias</a>
					<!--<a target="_blank" href='https://www.unimed.coop.br/web/valedosinos/noticias1' title='Noticias'>
						Notícias
					</a>-->
				</li>
			</ul>
		</nav>


	</div>


	<div class='links-flex'>
		<p class='talk-us'>
			<a href='{{ base_url() }}/fale-conosco' title='Fale com a Unimed'>Fale com a Unimed</a>
		</p>
		<p class='join-link'>
			<a href='{{ mount_url(config.ERP_LOGIN_URL) }}' title='Área Restrita' class='btn btn-outline-primary'>
				Área Restrita
			</a>
		</p>
	</div>

</div>


<div class='acesso-rapido-mobile'>
	<div class='main-header-float-grave'>
		<div class='close-wrapper'>
			<button class='close'>&times;</button>
		</div>
	</div>
	{% include 'layout/acesso-rapido.twig' %}
</div>
