<!doctype html>
<html>

    <head>
        <title>Headless</title>
        <meta charset="utf-8">
        <meta
        content="ie=edge; chrome=1" http-equiv="x-ua-compatible">
        <!-- Render Chrome if available or using latest version of Internet Explorer (Recommended). -->
        <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
        <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'/>

        <link rel='stylesheet' type='text/css' href='{{ base_url() }}/build/styles/main.min.css'/>
    </head>

    <body class='{{ body_class }}' id='{{ body_id }}'> {% block prepend_body %}{% endblock %}

        <div class='main-wrapper'>
            <main id='main'> {% block content %}{% endblock %}
                </main>
            </div>


            <script type='text/javascript' src='{{ base_url() }}/build/scripts/main.min.js'></script>

            {% block append_body %}{% endblock %}

            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ ga_id }}']);
                _gaq.push(['_trackPageview']);
                (function () {
                    var ga = document.createElement('script');
                    ga.type = 'text/javascript';
                    ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : '//www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(ga, s);
                })();
            </script>

        </body>
    </html>
