<div class='plan-wrapper'>
  {% if plano.atencao_primaria %}
    <div class='flag'>
        Conceito de atenção primária saúde
    </div>
  {% endif %}

    <div class='description'>
      <h2 class='title'>{{plano.titulo}}</h2>
      <div class="">
        {% if plano.encontre_descricao %}
          {{plano.encontre_descricao|raw}}
        {% else %}
          {{plano.descricao|raw}}
        {% endif %}
      </div>
    </div>
    <div class='price'>
      {% if enabled %}
        {% if plano.valor_base_pf %}
        <p class='label'>{{plano.valor_label_pf}}</p>
        {% endif %}
        {% set priceSplit = plano.valor_base_pf|split(',') %}
        {% if priceSplit|length > 1 %}
          <big class='price-value'>{{priceSplit[0]}}<small>,{{priceSplit[1]}}</small></big>
        {% else %}
          <big class='price-value price-inf'>{{plano.valor_base_pf}}</big>
        {% endif %}
      {% else %}
      {% endif %}

    </div>


{% set whatsurl = 'https://api.whatsapp.com/send?phone=55' ~ numbers_only(config.WHATSAPP_VENDAS_PLANOS) %}
    {% set whatsurl = whatsurl ~ '&text=' ~ ('Nome: ' ~ form_data.nome)|url_encode %}
    {% set whatsurl = whatsurl ~ ('; \nE-mail: ' ~ form_data.email)|url_encode %}
    {% set whatsurl = whatsurl ~ ('; \nTelefone: ' ~ form_data.telefone)|url_encode %}
    {% set whatsurl = whatsurl ~ ('; \nCidade: ' ~ form_data.cidade)|url_encode %}
    {% set whatsurl = whatsurl ~ ('; \nPlano: ' ~ plano.titulo)|url_encode %}

    <div class='action'>
      <a target='_blank' href='{{base_url()}}/encontre-seu-plano/{{categoria_slug}}/whatsapp?redirect_to={{whatsurl|url_encode}}&plano_id={{plano.id}}&interesse_id={{interesse_id}}' class='btn btn-primary whatsapp-call' title='Solicitar atendimento via WhatsApp'>
        <i></i>
        <span>
          <strong>Fale conosco</strong>
          <small>Somente horário comercial</small>
        </span>
      </a>
    </div>

    <div class='benefits'>
      <button class='benefits-title'>Benefícios</button>
      <div class='benefits-content'>
        <div class='benefits-inset'>
          {{plano.beneficios|raw}}
        </div>
      </div>
    </div>



    <div class='internal'>
    {{plano.nome_interno}}
    </div>
  </div>
