{% extends 'layout/wrapper-slim.twig' %}

{% block content %}

	<section class='encontre-seu-plano'>

		{% if (enabled) %}
			{% else %}
				<div class="modal fade" id="modal-cadastro-plano" aria-hidden="true">
					<div class="modal-dialog modal-md modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">
									Para ver os valores dos planos pedimos que preencha algumas informações
								</h3>
								<a href="{{base_url()}}/planos" class="close" aria-label="Fechar">
									<span aria-hidden="true">&times;</span>
								</a>
							</div>
							<div class="modal-body">
								<form autocomplete='off' action='{{base_url()}}/encontre-seu-plano/{{categoria.slug}}' method='post' class=''>
									<div class='form-group'>
										<input class='form-control' maxlength='50' value='{{form_data.nome}}' type='text' placeholder='Nome*' name='nome' required/>
									</div>
									<div class='form-group'>
										<input class='form-control' maxlength='100' value='{{form_data.email}}' type='email' title='Digite um e-mail válido' placeholder='E-mail*' name='email' required/>
									</div>
									<div class='form-group'>
										<input class='form-control mask-tel' value='{{form_data.telefone}}' type='tel' placeholder='Telefone*' name='telefone' required/>
									</div>
									<div class='form-group'>
										<input class='form-control' maxlength='50' value='{{form_data.cidade}}' type='text' placeholder='Cidade*' name='cidade' required/>
									</div>
									<button class='btn btn-primary btn-block btn-lg' type='submit'>
										Ver Valores
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
		{% endif %}


		<div class='container'>

			<div class='groups'>

				<div class='labels'>

					<p class='description'>Planos</p>
					<p class='price'>Preços</p>
					<p class='benefits' style="margin-top:80px;">Benefícios</p>

				</div>


				{% if primarios or planos %}
					<div class='plan-groups'>
						<div class='plan-primary-group'>
							<div class='flag'>
								Conceito de atenção primária saúde
							</div>
							{% for plano in primarios %}
								{% include 'encontre-seu-plano-item.twig' %}
								{# {% include 'encontre-seu-plano-item.twig' %} #}
							{% endfor %}
						</div>
						{% for plano in planos %}
							{% include 'encontre-seu-plano-item.twig' %}
						{% endfor %}
					</div>
				{% else %}
					<p>Nenhum plano para mostrar</p>
				{% endif %}

			</div>
		</div>
	</section>

	{% set arraycarencias = {
    'urgencia_emergencia': 'Urgência e Emergência',
    'consultas_consultorio': 'Consultas em Consultório',
    'exames_complementares_simples': 'Exames complementares simples',
    'proced_ambulatoriais': 'Procedimentos Ambulatoriais',
    'fisioterapia': 'Fisioterapia',
    'exames_sofisticados': 'Exames e Procedimentos sofisticados',
    'doencas_lesoes': 'Doenças e Lesões Preexistentes',
    'consultas_sess_nutri_psc_fono_terapeuta': 'Consultas e sessões de nutricionistas, psicólogo, fonoaudiólogo e terapeuta ocupacional',
    'internacoes_cli_cir_psi': 'Internações Clínicas, Cirúrgicas e Psiquiatricas',
    'eventos_cardio_neuro': 'Eventos Cardiovasculares e Neurológicos',
    'internacoes_obstetricas': 'Internações Obstétricas'
   } %}


	{#
			  Urgência e Emergência
			  Consultas em Consultório
			  Exames complementares simples
			  Procedimentos Ambulatoriais
			  Fisioterapia
			  Exames e Procedimentos sofisticados
			  Doenças e Lesões Preexistentes
			  Consultas e sessões de nutricionistas, psicólogo, fonoaudiólogo e terapeuta ocupacional
			  Internações Clínicas, Cirúrgicas e Psiquiatricas
			  Eventos Cardiovasculares e Neurológicos
			  Internações Obstétricas
			#}
	{% if primarios or planos %}
		{% set all = primarios|merge(planos)%}
		<section class='table-carencias'>
			<div class='container'>
				<div class='table-responsive'>
					<table class='table'>
						<thead>
							<tr>
								<th>
									<h2 class='title'>Carências</h2>
								</th>

								{% for p in primarios %}
                  {% if carencias_column(arraycarencias, p) %}

										<th class='marked'>
											{{p.titulo}}
										</th>
						  		{% endif %}
								{% endfor %}
								{% for p in planos %}
                  {% if carencias_column(arraycarencias, p) %}
										<th>
											{{p.titulo}}
										</th>
						  		{% endif %}
								{% endfor %}

							</tr>
						</thead>
						<tbody>
							{% for key, ind in arraycarencias %}
								<tr>
									<th>{{ind}}</th>
									{% for p in primarios %}
                    {% if carencias_column(arraycarencias, p) %}
											<td class='marked'>
												{% set car = p.decodeCarencias() %}
												{% if car[key] %}
													<span class=''>{{car[key]}}</span>
												{% else %}
													<span class='none'>-</span>
												{% endif %}
											</td>
						  		  {% endif %}


									{% endfor %}
									{% for p in planos %}

                    {% if carencias_column(arraycarencias, p) %}
											<td>
												{% set car = p.decodeCarencias() %}
												{% if car[key] %}
													<span class=''>{{car[key]}}</span>
												{% else %}
													<span class='none'>-</span>
												{% endif %}
											</td>
						  		  {% endif %}

									{% endfor %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</section>

	{% endif %}


{% endblock %}
