{% extends 'layout/wrapper.twig' %}

{% block content %}
	{% set post_destaque = null %}
	{% set current_href = base_url() ~ '/noticias/' ~ categoria.slug ~ '/' ~ post.slug %}
	{% set post_base_url = base_url() ~ '/noticias' %}
	{% include 'components/noticias-header.twig' %}
	<div class='post-page'>
		<div class='container'>
			{% if post.thumbnail %}
				<div class='row'>
					<div class='col-12'>
						<section class='post-page-thumbnail'>
							<figure>
								{% if post.thumbnail_detalhe %}
									<img src='{{uploaded_image(post.thumbnail_detalhe)}}' alt='{{post.titulo}}' title='{{post.titulo}}'/>
								{% else %}
									<img src='{{uploaded_image(post.thumbnail)}}' alt='{{post.titulo}}' title='{{post.titulo}}'/>
								{% endif %}
							</figure>
						</section>
					</div>
				</div>
			{% endif %}
			<div class='row'>
				<div class='col-lg-8'>
					{% if tag %}
						Assunto:
						{{ tag }}
					{% endif %}
					<article class='content-wrapper'>
						<h1 class='post-title'>{{post.titulo}}</h1>
						<div class='row post-head'>
							<div class='col-12 col-lg-6'></div>
							<div class='col-12 col-lg-6'>
								<div class='post-meta'>
									<span class='date'>
										{{human_date(post.created_at)}}
									</span>
								</div>
							</div>
						</div>
						<div class='row'>
							<div class='col-lg-10'>
								<div class='content'>
									{% if post.conteudo %}
										{{ post.conteudo|raw }}
									{% else %}
										{{ post.descricao }}
									{% endif %}
								</div>
							</div>
						</div>
					</article>

					{% if related_posts and related_posts is not empty %}
						<hr/>
						<section class='related-posts'>
							<h3 class='related-posts-title'>Recomendados</h2>
							<div class='row'>
								{% for b in related_posts %}
									<div class='col-lg-6'>
										{% include 'components/post-item.twig' %}
									</div>
								{% endfor %}
							</div>
						</section>
					{% endif %}
				</div>

				<div class='col-lg-4'>
					{% include 'components/blog-sidebar.twig' %}

				</div>
			</div>
		</div>
	</div>
{% endblock %}
