{% extends 'layout/wrapper.twig' %}

{% set breadlinks = [
    { titulo: 'Planos', url: '/planos' },
] %}


{% block content %}
	{% include 'layout/breadcrumb.twig' %}
	<div class='container'>
		<div class='all-plans'>
			<header class='row'>
				
				<div class='col-12 col-lg-10'>
					<h1 class='title'>Tenha um plano de saúde a altura de suas expectativas.</h1>
					<p class='resume'>
						Tenha um plano de saúde a altura de suas expectativas. A Unimed é a maior cooperativa de saúde do mundo. Somos 344 Cooperativas, 116 mil médicos cooperados, 17 milhões de beneficiários, 2.445 hospitais credenciados, 119 hospitais próprios. Além de pronto atendimentos, laboratórios e ambulâncias para garantir qualidade na assistência médica, hospitalar e de diagnóstico complementar oferecidos. Por isso, cuidamos das pessoas com leveza, proximidade e alegria. Incentivamos a busca equilibrada do bem-estar e da felicidade em todos os momentos como melhor forma de prevenção e promoção da saúde. Nós temos o plano ideal para você ou sua empresa!
					</p>
				</div>
			</header>
			<div class='row'>
				
				<div class='col-12 col-lg-11'>
					<h3>Encontre o plano adequado à sua necessidade:</h3>
					<div class='plan-options row'>
						{% if categorias|length > 0 %}

							{% for c in categorias %}
								<div class='col-12 col-md-6'>
									<div class='plan'>
										<div class='linkbox'>
											<a href='{{base_url()}}/planos/{{c.slug}}' title='{{c.titulo}}'>
												<figure class='figure'>
													{% if c.thumbnail %}
														<img src='{{base_url()}}/upload/{{c.thumbnail}}' alt='{{c.titulo}}'/>
													{% endif %}
												</figure>
												<header class='linkbox-header plan-header'>
													<div>
														<h2>{{c.titulo}}</h2>
													</div>
													{% if c.id == 9 %}
													<span class='action' title='Contrate'>Contrate</span>
													{% else %}
													<span class='action' title='Ver planos'>Ver planos</span>
												{% endif %}
												</header>
											</a>
										</div>
									</div>
								</div>
							{% endfor %}
						{% else %}
							<p>Nenhum plano disponível</p>
						{% endif %}
					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
